@font-face {
	font-family: "quattrocento-sans";
	src: url("../asset/font/quattrocentosans/quattrocentosans-regular.eot");
	src: url("../asset/font/quattrocentosans/quattrocentosans-regular.eot?#iefix") format("embedded-opentype"),
	url("../asset/font/quattrocentosans/quattrocentosans-regular.woff2") format("woff2"),
	url("../asset/font/quattrocentosans/quattrocentosans-regular.woff") format("woff"),
	url("../asset/font/quattrocentosans/quattrocentosans-regular.ttf") format("truetype"),
	url("../asset/font/quattrocentosans/quattrocentosans-regular.svg#quattrocento_sansregular") format("svg");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "quattrocento-sans";
	src: url("../asset/font/quattrocentosans/quattrocentosans-italic.eot");
	src: url("../asset/font/quattrocentosans/quattrocentosans-italic.eot?#iefix") format("embedded-opentype"),
	url("../asset/font/quattrocentosans/quattrocentosans-italic.woff2") format("woff2"),
	url("../asset/font/quattrocentosans/quattrocentosans-italic.woff") format("woff"),
	url("../asset/font/quattrocentosans/quattrocentosans-italic.ttf") format("truetype"),
	url("../asset/font/quattrocentosans/quattrocentosans-italic.svg#quattrocento_sansitalic") format("svg");
	font-weight: 400;
	font-style: italic;

}

@font-face {
	font-family: "quattrocento-sans";
	src: url("../asset/font/quattrocentosans/quattrocentosans-bold.eot");
	src: url("../asset/font/quattrocentosans/quattrocentosans-bold.eot?#iefix") format("embedded-opentype"),
	url("../asset/font/quattrocentosans/quattrocentosans-bold.woff2") format("woff2"),
	url("../asset/font/quattrocentosans/quattrocentosans-bold.woff") format("woff"),
	url("../asset/font/quattrocentosans/quattrocentosans-bold.ttf") format("truetype"),
	url("../asset/font/quattrocentosans/quattrocentosans-bold.svg#quattrocento_sansbold") format("svg");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "quattrocento-sans";
	src: url("../asset/font/quattrocentosans/quattrocentosans-bolditalic.eot");
	src: url("../asset/font/quattrocentosans/quattrocentosans-bolditalic.eot?#iefix") format("embedded-opentype"),
	url("../asset/font/quattrocentosans/quattrocentosans-bolditalic.woff2") format("woff2"),
	url("../asset/font/quattrocentosans/quattrocentosans-bolditalic.woff") format("woff"),
	url("../asset/font/quattrocentosans/quattrocentosans-bolditalic.ttf") format("truetype"),
	url("../asset/font/quattrocentosans/quattrocentosans-bolditalic.svg#quattrocento_sansbold_italic") format("svg");
	font-weight: 800;
	font-style: italic;
}