@mixin prefixProp($prop, $val) {
	-webkit-#{$prop}: #{$val};
	-moz-#{$prop}: #{$val};
	-ms-#{$prop}: #{$val};
	#{$prop}: #{$val};
}

/**
 * Fonts
 */
@mixin setFont($name, $weight, $style) {
	@if $name == "montserrat" {
		font-family: $font-list-montserrat;
	} @else if $name == "quattrocento-sans" {
		font-family: $font-list-quattrocento-sans;
	}
	font-weight: $weight;
	font-style: $style;
}