@mixin themeBase($light, $medium, $dark) {
	color: $dark;

	p{
		a{
			background:$dark;
			color:$light;
			padding:.25em;

			&:hover{
				background:$medium;
			}
		}
	}

	button{
		background: $light;
		border: 1px solid $dark;

		&:hover{
			background: darken($light, 10%);
		}

		&:active{
			background:$medium;
			color:darken($dark, 50%);
		}
	}

	nav.main-nav{
		background:rgba($dark,.9);

		.language-selector-trigger{
			&:hover{
				.alternator-bg{
					opacity:1;
				}
			}
		}
	}

	.language-selector{
		background:rgba($dark, .5);
		color:$light;

		form{
			color:$dark;
		}
	}

	.top-border {
		border: 0;
		border-top: 5px solid $light;
		margin: 0;
	}

	.alternator-bg {
		&::before,
		&::after {
			@include prefixProp("transition", "border 500ms");
		}

		&::before{
			border-bottom-color: $light;
		}

		&::after{
			border-top-color: $light;
		}
	}

	.content-container{
		background: rgba($light, .9);
	}

	.emblem{
		background: rgba($light, .5);
	}

	.rating-visual{
		.fill-bar{
			background-color:$dark;
		}
	}

	.tooltip{
		background: $dark;
		border: 1px solid $light;
		color:$light;

		&::before{
			border-left:10px solid transparent;
			border-right:10px solid transparent;
		}

		&.top {
			&::before {
				border-top: 10px solid $dark;
				border-bottom: 0;
			}
		}

		&.bottom{
			&::before {
				border-bottom: 10px solid $dark;
				border-top: 0;
			}
		}
	}

	.timeline{
 		hr{
			border-color: $light;
		}

		.interval {
			border: 1px solid $light;
			background-color: $medium;
		}

		.timeline-interval {
			&.timeline-end {
				.interval {
					background-color: $light;
				}
			}
		}

		.timeline-event {
			 span{
				&.outer{
					border: 3px solid $light;
					background-color: $medium;
				}

				&.center {
					background-color: $light;
				}
			}
		}

		.range-indicator {
			border:1px solid $light;
		}
	}

	.timeline-event{
		background: $dark;
		border-color: $light;
		color:$light;

		&:hover,
		&.active{
			.label {
				color: $dark;
			}
		}

		.alternator-bg {
			opacity:1;

			&:before{
				border-bottom-color:$light;
			}

			&:after{
				border-top-color:$light;
			}
		}
	}

	.timeline-event-full{
		.title{
			background:$dark;
			color:$light;
		}

		a {
			color: $medium;

			&:hover {
				color: darken($medium, 10%);
			}
		}
	}

	.circle-wrapper{
		color: $light;
		background: $dark;
		border-color: $light;
	}

	.timeline-hint {
		.directions{
			border-color:$light;
		}
	}

	.timeline{
		.counter{
			ul{
				border-color:$light;

				.dot{
					border-color:$light;
					background-color: $dark;
				}
			}
		}
	}

	.nav-toggle{
		background-color:$dark;
		color:$light;
		border-color: $light;
	}

	@media screen and (min-width: $screen-sm-min){
		nav.main-nav {
			background: transparent;
		}
	}
}

@mixin theme($name, $light, $medium, $dark) {
	@if $name {
		&.#{$name} {
			@include themeBase($light, $medium, $dark);
		}

		.transition.#{$name} {
			transition-duration:1s;

			.background {
				background: $medium;
				@include prefixProp("transition-duration", "500ms");
				@include prefixProp("transform", "rotate(90deg) scale(1)");
			}
		}
	} @else {
		@include themeBase($light, $medium, $dark);
	}
}