@mixin themeBase($light, $medium, $dark) {
	color: $light;
	background-color: $medium;
	border-top: 5px solid $light;

	nav {
		border-left: .2em solid $dark;

		li {
			&.active {
				border: none;
				margin-left: 0;
			}
		}

		svg {
			&.mobile-nav-menu {
				circle {
					stroke: $light;
					fill: $medium;
				}

				rect {
					fill: $light;
				}
			}
		}

		.link-list {
			border: 2px solid $light;
		}
	}

	.content-background {
		border-left: 4px solid $dark;
	}

	.rating-visual{
		.fill-bar{
			background-color:$light;
		}
	}

	.summary-group{
		.summary-item{
			.description{
				background: $medium;
				border: 1px solid $light;

				&::before{
					position:absolute;
					top:-10px;
					left:50%;
					margin-left:-10px;
					content: " ";
					width:0;
					height:0;
					border-left:10px solid transparent;
					border-right:10px solid transparent;
					border-bottom:10px solid $light;
				}
			}
		}
	}

	@media screen and(min-width: $screen-sm-min) {
		nav {
			.link-list{
				overflow:visible;
			}

			li {
				&.active {
					border-left: 4px solid $light;
					margin-left: -4px;
				}
			}

			.link-list{
				border:none;
			}
		}
	}
}

@mixin theme($name, $light, $medium, $dark) {
	@if $name {
		&.#{$name} {
			@include themeBase($light, $medium, $dark);
		}
	} @else {
		@include themeBase($light, $medium, $dark);
	}
}