/**
 * Colors
 */
$color-white: #FFFFFF;
$color-black: #000000;
$color-gray-darkest: #333333;
$color-gray-medium: #737373;
$color-gray-lightest: #F3F3F3;

$color-blue-darkest: #013e73;
$color-blue-medium: #0166c0;
$color-blue-light: #0275d9;
$color-blue-lightest: #dae7f2;

$color-red-darkest: #730000;
$color-red-medium: #b90000;
$color-red-light: #d10000;
$color-red-lightest: #f2dada;

$color-green-darkest: #0c4000;
$color-green-medium: #198600;
$color-green-light: #209e00;
$color-green-lightest: #def2da;

$color-orange-darkest: #733900;
$color-orange-medium: #d96900;
$color-orange-light: #f27500;
$color-orange-lightest: #f2dada;



/**
 * Font
 */
$font-list-montserrat: montserrat, arial, helvetica, sans-serif;
$font-list-quattrocento-sans: quattrocento-sans, arial, helvetica, sans-serif;



/**
 * Transition related
 */
$section-transition-speed: .5s;