html,
body{
	min-height: 100%;
}

body{
	overflow-x:hidden;
	margin:0;
	font-size:10px;
	@include setFont("montserrat", 400, normal);

	/*Default theme*/
	@include theme(null, $color-gray-lightest, $color-gray-medium, $color-gray-darkest);
	@include theme("technical-summary", $color-blue-lightest, $color-blue-medium, $color-blue-darkest);
	@include theme("portfolio", $color-green-lightest, $color-green-medium, $color-green-darkest);
	@include theme("experience", $color-blue-gray-lightest, $color-blue-gray-medium, $color-blue-gray-darkest);
	@include theme("contact", $color-orange-lightest, $color-orange-medium, $color-orange-darkest);
	@include prefixProp("transition", "color #{$section-transition-speed} linear, background-color #{$section-transition-speed} linear");
	@include prefixProp("transition-duration", "1000ms");

	.top-border{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		z-index:1;
	}

	.site-content {
		opacity:1;
		@include prefixProp("transition", "opacity 500ms");
	}
}

a{
	text-decoration:none;
	color:inherit;
}

h1,
h2,
h3,
h4,
h5,
h6{
	@include setFont("montserrat", 800, normal);
	margin:0;
}

figure{
	margin:0;
}

p{
	margin-top:0;
	font-size:1.6em;
	@include setFont("montserrat", 300, normal);
}

ul{
	padding:0;
	margin:0;
	list-style-type:none;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	zoom: 1;
}