html{
	height:100%;
}

html,
body{
	min-height: 100%;
}

body{
	overflow-x:hidden;
	margin:0;
	font-size:10px;
	@include setFont("montserrat", 400, normal);
	@include prefixProp("perspective", "1200px");
	@include prefixProp("perspective-origin", "center");

	/*Default theme*/
	@include theme(null, $color-gray-lightest, $color-gray-medium, $color-gray-darkest);
	@include theme("technical-summary", $color-blue-lightest, $color-blue-medium, $color-blue-darkest);
	@include theme("portfolio", $color-green-lightest, $color-green-medium, $color-green-darkest);
	@include theme("experience", $color-red-lightest, $color-red-medium, $color-red-darkest);
	@include theme("contact", $color-orange-lightest, $color-orange-medium, $color-orange-darkest);
	@include prefixProp("transition", "color #{$section-transition-speed} linear, background-color #{$section-transition-speed} linear");
	@include prefixProp("transition-duration", "1000ms");

	.top-border{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		z-index:1;
	}

	.site-content {
		opacity:1;
		@include prefixProp("transition", "opacity 500ms");
	}
}

a{
	text-decoration:none;
	color:inherit;
}

h1,
h2,
h3,
h4,
h5,
h6{
	@include setFont("montserrat", 800, normal);
	margin:0;
}

figure{
	margin:0;
}

p{
	margin-top:0;
	font-size:1.6em;
	@include setFont("montserrat", 300, normal);
}

ul{
	padding:0;
	margin:0;
	list-style-type:none;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	zoom: 1;
}

.content-main{
	header{
		margin-bottom:1.5em;
	}
}

.content-background,{
	padding:3em;

	$start: rgba(0, 0, 0, .1);
	$mid: rgba(0, 0, 0, .25);
	$end: rgba(0, 0, 0, .4);
	$startPercent: 0%;
	$midPercent: 50%;
	$endPercent: 100%;
	background: rgba(0, 0, 0, .4);
	background: -moz-radial-gradient(left top, ellipse cover, $start $startPercent, $mid $midPercent, $end $endPercent);
	background: -webkit-gradient(radial, left top, 0px, bottom right, 100%, color-stop($startPercent, $start), color-stop($midPercent, $mid), color-stop($endPercent, $end));
	background: -webkit-radial-gradient(left top, ellipse cover, $start $startPercent, $mid $midPercent, $end $endPercent);
	background: -o-radial-gradient(left top, ellipse cover, $start $startPercent, $mid $midPercent, $end $endPercent);
	background: -ms-radial-gradient(left top, ellipse cover, $start $startPercent, $mid $midPercent, $end $endPercent);
	html.cssgradients & {
		background: radial-gradient(ellipse at left top, $start $startPercent, $mid $midPercent, $end $endPercent);
	}
}



@media screen and(max-width: $screen-xs-max){
	nav li.active {
		background: transparent;
	}
}



@media screen and(min-width: $screen-sm-min){
	body{
		> .container-fluid{
			padding-left:15px;
			padding-right:15px;
		}
	}

	/*
	nav li.active,
	nav li:hover {
		$start: rgba(0, 0, 0, .2);
		$mid: rgba(0, 0, 0, .35);
		$end: rgba(0, 0, 0, .6);
		$startPercent: 0%;
		$midPercent: 50%;
		$endPercent: 100%;
		background: rgba(0, 0, 0, .4);
		background: -moz-radial-gradient(left top, ellipse cover, $start $startPercent, $mid $midPercent, $end $endPercent);
		background: -webkit-gradient(radial, left top, 0px, bottom right, 100%, color-stop($startPercent, $start), color-stop($midPercent, $mid), color-stop($endPercent, $end));
		background: -webkit-radial-gradient(left top, ellipse cover, $start $startPercent, $mid $midPercent, $end $endPercent);
		background: -o-radial-gradient(left top, ellipse cover, $start $startPercent, $mid $midPercent, $end $endPercent);
		background: -ms-radial-gradient(left top, ellipse cover, $start $startPercent, $mid $midPercent, $end $endPercent);
		html.cssgradients & {
			background: radial-gradient(ellipse at left top, $start $startPercent, $mid $midPercent, $end $endPercent);
		}
	}*/

	.content-main {
		header {
			margin-bottom: 5em;
		}
	}
}