body{
	margin:0;
	font-size:10px;
	padding:3em 0;
	@include setFont("montserrat", 400, normal);

	/*Default theme*/
	@include theme(null, $color-gray-lightest, $color-gray-medium, $color-gray-darkest);
	@include theme("technical-summary", $color-blue-lightest, $color-blue-medium, $color-blue-darkest);
	@include theme("portfolio", $color-green-lightest, $color-green-medium, $color-green-darkest);
	@include theme("experience", $color-red-lightest, $color-red-medium, $color-red-darkest);
	@include theme("contact", $color-orange-lightest, $color-orange-medium, $color-orange-darkest);
	@include prefixProp("transition", "color #{$section-transition-speed} linear, background-color #{$section-transition-speed} linear");
}

a{
	text-decoration:none;
	color:inherit;
}

h1,
h2,
h3,
h4,
h5,
h6{
	@include setFont("montserrat", 800, normal);
	margin:0;
}

p{
	margin-top:0;
}

ul{
	padding:0;
	margin:0;
	list-style-type:none;
}

.content-background,
nav li.active{
	$start: rgba(0, 0, 0, .1);
	$mid: rgba(0, 0, 0, .25);
	$end: rgba(0, 0, 0, .4);
	$startPercent: 0%;
	$midPercent: 50%;
	$endPercent: 100%;
	background: rgba(0, 0, 0, .4);
	background: -moz-radial-gradient(left top, ellipse cover, $start $startPercent, $mid $midPercent, $end $endPercent);
	background: -webkit-gradient(radial, left top, 0px, bottom right, 100%, color-stop($startPercent, $start), color-stop($midPercent, $mid), color-stop($endPercent, $end));
	background: -webkit-radial-gradient(left top, ellipse cover, $start $startPercent, $mid $midPercent, $end $endPercent);
	background: -o-radial-gradient(left top, ellipse cover, $start $startPercent, $mid $midPercent, $end $endPercent);
	background: -ms-radial-gradient(left top, ellipse cover, $start $startPercent, $mid $midPercent, $end $endPercent);
	html.cssgradients & {
		background: radial-gradient(ellipse at left top, $start $startPercent, $mid $midPercent, $end $endPercent);
	}
}



@media screen and(min-width: $screen-sm-min){
	body{
		padding:5em 2em 0 5em;

		> .container-fluid{
			padding-left:15px;
			padding-right:15px;
		}
	}
}



@media screen and(min-width: $screen-md-min){
	body{
		padding:7em 2em 0 7em;
	}
}



@media screen and(min-width: $screen-lg-min){
	body{
		padding:10em 3em 0 10em;
	}
}