.experience-summary {
	width: 11.5em;
	height: 11.5em;
	border-radius: 50%;
	border: .25em solid;
	@include prefixProp("transition", "transform 150ms");

	&:hover{
		@include prefixProp("transform", "scale(1.8)");
		border:.5em solid;
	}
}