.intro {
	padding: 0;
	overflow: hidden;

	nav.main-nav,
	header.main-header {
		display: none;
	}

	h1,
	h2 {
		opacity: 0;
		display: inline-block;
		background: rgba($color-white, .5);
	}

	h1 {
		font-size: 3.5em;
		padding: 0 .15em;
	}

	h2 {
		margin-top: .15em;
		padding: .25em .5em;
		font-size: 1.75em;
		@include setFont("montserrat", 200, normal);
	}

	div[data-intro-animation] {
		width: 100%;
		position: absolute;
		left: 0;
		margin-top: -4em;
	}

	.content-main {
		width: 100%;
		cursor: default;
		text-align: center;
	}

	.copy{
		margin-top:1em;
	}

	.clickable {
		h1,
		h2,
		.emblem svg {
			cursor: pointer;
		}
	}

	.emblem {
		opacity: 0;
		text-align: center;
		//For some reason, chrome extends the figure's hit area over the titles due to SVG placement.
		//This appears to be a bug and overflow:hidden fixes it.
		overflow: hidden;

		svg{
			font-size: 10em;
		}
	}

	@media screen and (orientation: landscape) {
		.content-main {
			font-size: 1em;
		}
	}

	@media screen and(min-width: $screen-sm-min) {
		.content-main {
			font-size: 1.25em;
		}
	}

	@media screen and(min-width: $screen-md-min) {
		.content-main {
			font-size: 1.5em;
		}
	}

	@media screen and(min-width: $screen-lg-min) {
		.content-main {
			font-size: 1.75em;
		}
	}

	@media screen and(min-width: $screen-xl-min) {
		.content-main {
			font-size: 2em;
		}
	}
}