[data-lm-language-selector] {
	.language-selector-trigger {
		width: 100%;
		margin-bottom:2em;

		i {
			font-size: 1.3em;
			position: relative;
			bottom: 0.075em;
		}

		.alternator {
			margin: 0 3em;
			position: relative;
		}
	}

	.language-selector {
		position: fixed;
		visibility: hidden;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		min-height: 100%;
		opacity: 0;
		@include prefixProp("transition", "opacity 250ms, visibility:250ms");

		&.active {
			opacity: 1;
			z-index: 1;
			visibility: visible;

			.circle-wrapper {
				margin-top: -125px;
			}
		}

		h3 {
			font-weight: 200;
			font-size: 1.75em;
			margin:0 0 .75em 0;
		}

		i {
			font-size: 3.5em;
			display: block;
		}

		form {
			select {
				min-width: 50%;
				padding: .5em;
			}
		}

		.circle-wrapper {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -175px;
			@include prefixProp("transition", "margin-top 250ms");
		}
	}

	@media screen and(min-width: $screen-sm-min){
		.language-selector-trigger{
			position: absolute;
			bottom: 3em;
			margin-bottom: 0;
		}
	}
}