.lm-loading {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -43px;
	margin-top: -43px;
	z-index: 1;
	width: 8.5em;
	height: 8.5em;
	opacity:0;
	@include prefixProp("transform", "translateY(-50px)");
	@include prefixProp("transition", "opacity 250ms, transform 250ms");
	@include prefixProp("transition-timing-function", "cubic-bezier(0.75, 0.2, 0.1, 0.9)");

	&.visible {
		@include prefixProp("transform", "translateY(0)");
		opacity: 1;
	}

	canvas {
		position: absolute;
	}

	.content {
		width: 100%;
		height: 100%;
		padding: .5em;
		border-radius: 50%;
		background-color: #F3F3F3;
	}

	.emblem-container {
		display: table;
		position: relative;
		width: 100%;
		height: 100%;

		.lmIcon-emblem-no-border {
			font-size: 3.5em;
			position: relative;
			left: .1em;
			top: .55em;
			opacity:0;
			padding:0;
			color: $color-gray-light;
		}
	}
}