.lm-loading {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -43px;
	margin-top: -43px;
	width: 8.5em;
	height: 8.5em;
	opacity:0;
	z-index: -1;
	@include prefixProp("transform", "translateY(-50px)");
	@include prefixProp("transition", "opacity 250ms, transform 250ms, z-index 250ms");
	@include prefixProp("transition-timing-function", "cubic-bezier(0.75, 0.2, 0.1, 0.9)");

	&.visible {
		@include prefixProp("transform", "translateY(0)");
		@include prefixProp("transition", "opacity 250ms, transform 250ms");
		opacity: 1;
		z-index: 100;
	}

	canvas {
		position: absolute;
	}

	.content {
		width: 100%;
		height: 100%;
		padding: .5em;
		border-radius: 50%;
		background-color: #F3F3F3;
	}

	.emblem-container {
		display: table;
		position: relative;
		width: 100%;
		height: 100%;
		font-size: 7em;
		text-align:center;
		line-height:1;

		.lmIcon-emblem-no-border {
			position: relative;
			top: .02em;
			padding: 0;
			opacity:0;
			vertical-align: top;
			color: $color-gray-light;
		}
	}
}