$navItemClasses: "technical-summary", "experience", "portfolio", "contact";
$navBGColors: $color-blue-medium, $color-red-medium, $color-green-medium, $color-orange-medium;
$navHoverBGColors: $color-blue-light, $color-red-light, $color-green-light, $color-orange-light;
$navItemTransitionSpeed: 250ms;

nav {
	position: fixed;
	top: 0;
	left: 0;
	font-size: 2em;
	padding: 2em 0;
	@include setFont("montserrat", 300, normal);
	@include prefixProp("user-select", "none");
}

@media screen and(min-width: $screen-sm-min) {
	nav {
		font-size: 1.25em;
		height: 100%;
		width: 20%;
		margin-left: 1%;
		border: 1px solid #000;
		border-top: 0;
		border-bottom: 0;
		padding-top: 10em;

		.emblem-wrapper {
			padding: 3em;
			border-bottom: 1px solid #000;
		}

		.emblem {
			padding:.5em;

			svg {
				font-size: 4em;
			}
		}

		ul {
			padding: 2em 3em;
		}

		li {
			position: relative;
			margin: 1em 0 2em 0;

			&.active {
				@include setFont("montserrat", 500, italic);
				.alternator-bg {
					opacity: 1;
					@include prefixProp("transform", "translateX(0)");
				}

				a:hover {
					span {
						@include prefixProp("transform", "none");
						opacity: 1;

						&.highlight {
							opacity: 0;
							@include prefixProp("transform", "none");
						}
					}
				}
			}
		}

		a {
			display: block;
			position: relative;
			cursor: pointer;

			&:hover {
				span {
					@include prefixProp("transform", "translateY(.6em)  scale(1, .5)");
					opacity: 0;

					&.highlight {
						opacity: 1;
						@include prefixProp("transform", "translateY(0em) scale(1, 1)");

					}
				}

				.alternator-bg {
					@include prefixProp("transform", "translateX(0)");
					opacity: 1;
				}
			}

			span {
				@include prefixProp("transition", "transform #{$navItemTransitionSpeed}, opacity #{$navItemTransitionSpeed}, scale #{$navItemTransitionSpeed}");
				bottom: 0;

				&.highlight {
					position: absolute;
					top: 0;
					opacity: 0;
					@include prefixProp("transform", "translateY(-.6em) scale(1, .5)");
					font-weight: 400;
					font-style: italic;
				}
			}
		}

		.alternator-bg {
			display: block;
			position: absolute;
			top:-.4em;
			height: 0;
			width: 100%;
			opacity: .5;
			@include prefixProp("transition", "opacity #{$navItemTransitionSpeed}, transform #{$navItemTransitionSpeed}");
			@include prefixProp("transform", "translateX(-.5em)");

			&:before,
			&:after {
				display: block;
				position: absolute;
				top: 0;
				content: " ";
				margin-left: -1em;
				height: 0;
				width: 100%;
				border-bottom: 2em solid;
				border-left: .5em solid transparent;
				border-top: 0;
				z-index: -1;
			}

			&:after {
				border-left: 0;
				border-right: .5em solid transparent;
				border-bottom: 0;
				border-top: 2em solid;
				margin-left: 1em;
			}
		}

		.alternator {
			position: relative;
		}
	}
}

@media screen and(min-width: $screen-md-min) {
	nav {
		width: 23%;
		margin-left: 2%;
	}
}

@media screen and(min-width: $screen-lg-min) {
	nav {
		width: 20%;
		margin-left: 3%;
	}
}

@media screen and(min-width: $screen-xl-min) {
	nav {
		width: 15%;
		margin-left: 5%;
	}
}