body.experience {
	.content-main {
		padding: 0;
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		margin: 0;
	}

	section {
		height: 100%;

		&.experience {
			width: 100%;
			padding: 0;
			margin: 0;
		}
	}

	[ng-controller=TimelineController] {
		height: 100%;
	}

	&.experience-event {
		.content-main {
			overflow-y: auto;
			overflow-x: hidden;
		}
	}
}