body.technical-summary{
	.content-main {
		overflow: hidden;
		padding-bottom: 5em;
	}

	header,
	.subsection-content{
		padding:0;
	}

	.key{
		margin:3em 0;
	}

	.portrait{
		float: left;
		margin: 0 2em 1em 0;
		max-width: 75px;
	}

	.key{
		h3{
			font-weight: 500;
			font-size: 1.5em;
			margin-bottom: 1em;
		}

		li{
			font-size:1.5em;
			margin-bottom:.5em;
			font-weight:300;

			&:last-child{
				margin-bottom:0;
			}
		}
	}

	@media screen and (min-width: $screen-sm-min) {
		.content-main {
			padding-bottom:0;
		}

		.portrait {
			max-width: 100px;
		}
	}
}