body.experience{

	.content-main{
		padding-right:0;
		padding-left:0;

		header {
			padding: 0 15px;
		}

		> section{
			padding-right:0;
			position:relative;
			overflow:hidden;
		}

	}

	@media screen and (min-width: $screen-sm-min) {

		.content-main {
			padding-left: 15px;

			header {
				padding: 0;
			}
		}
	}
}