.summary-group {
	max-width:100%;
	width:100%;
	float:left;
	padding-bottom:0;
	margin-right:3em;
	margin-bottom:5em;

	h2,
	h3{
		@include setFont("montserrat", 300, normal);
	}

	h2{
		font-size: 2.5em;
		margin-bottom:1em;
	}

	h3{
		font-size:1.5em;
		margin-bottom:.66em;
	}

	.summary-item{
		position: relative;
		margin-bottom: 3em;
		cursor:pointer;
	}

	.tooltip{
		width: 105%;
		left: -2.5%;
	}

	.rating-visual{
		height:1em;
		background-color:rgba(0,0,0,.25);

		.fill-bar{
			height: 100%;
			display: block;
			padding: 0;
			border-left: 0;
			@include prefixProp("transform", "scaleX(0)");
			@include prefixProp("transform-origin", "0");
			@include prefixProp("transition", "transform 1.5s");
		}
	}
}



@media screen and (min-width:$screen-sm-min){
	.summary-group{
		.tooltip {
			width: 125%;
			left: -12.5%;
		}
	}
}



@media screen and (min-width: $screen-md-min) {
	.summary-group {
		width: 47.5%;
		margin-right: 5%;

		&:nth-child(2n) {
			margin-right: 0;
		}

		.tooltip {
			width: 140%;
			left: -20%;
		}
	}
}



@media screen and (min-width: $screen-lg-min) {
	.summary-group {
		.tooltip {
			width: 135%;
			left: -17.5%;
		}
	}
}