.timeline {
	min-height:100%;

	.timeline-wrapper{
		&.pause{
			display:none;
		}
	}

	.timeline-event {
		position: absolute;
		z-index: 100;
		display: block;
		top:110%;
		left: 50%;
		width: 11.5em;
		height: 11.5em;
		opacity:1;
		margin-left: -5.75em;
		font-weight: 500;
		border-radius: 50%;
		border: .25em solid;
		cursor: pointer;
		text-align: center;
		@include prefixProp("transition", "opacity 150ms, transform 150ms");
		@include prefixProp("touch-action", "none");

		&:hover,
		&.active{
			border-width: .3em;
			@include prefixProp("transform", "scale(1.8)");

			a{
				height:100%;
			}

			.date,
			.sublabel{
				opacity:1;
			}

			.alternator-bg {
				&:before,
				&:after {
					opacity: 1;
				}
			}

			.highlight {
				font-style: normal;
				font-weight: 900;
			}

			.cta-container {
				opacity: 1;
			}
		}

		&.isSwiping{
			a{
				height:0 !important;
			}
		}

		.date,
		.sublabel{
			@include prefixProp("transition", "opacity 150ms");
		}

		.date,
		.sublabel{
			position: absolute;
			opacity:0;
			font-weight: 200;
			font-size: .75em;
			left: 0;
			right: 0;
		}

		.date {
			top: -1.7em;
		}

		.sublabel {
			top: 2.5em;
			font-style: italic;
		}

		.cta-container{
			opacity:0;
			@include prefixProp("transition", "opacity 150ms");

		}

		.cta{
			position:relative;
			top:2.65em;
			opacity:0;
			font-size:.8em;
			margin-left: -40px;
		}

		a{
			height:0;
			width:100%;
			left: 0;
			right: 0;
			position:absolute;
			z-index:1;
		}

		.event-content{
			left: 0;
			right: 0;
			font-weight: 900;
			position:absolute;
			top:50%;
			width:100%;
			margin-top: -8px;
		}

		.alternator-bg {
			&:before,
			&:after {
				border-bottom-width: 1.5em;
				top: .3em;
				opacity: 0;
				@include prefixProp("transition", "opacity 150ms");
			}

			&:after {
				border-top-width: 1.5em;
			}
		}
	}

	.counter{
		position:absolute;
		right:0;
		top:3em;
		padding:.5em;
		font-weight:200;
		z-index:101;

		.wrapper{
			min-width: 200px;
			font-size:2em;
		}

		.year{
			font-size:2em;
		}

		.alternator-bg{
			top: .5em;
			z-index:-1;
			opacity:1;
		}
	}
}

/*
@media screen and(min-width: $screen-sm-min) {
}

@media screen and(min-width: $screen-md-min) {
}

@media screen and(min-width: $screen-lg-min) {
}
*/

@media screen and(min-width: $screen-xl-min) {
	.timeline {
		.timeline-event{
			left:40%;
		}
	}
}