.timeline {
	min-height:100%;
	height:100%;

	&.pause {
		.timeline-wrapper{
			display:none;
		}

		.counter {
			ul {
				display: none;
			}
		}
	}

	.timeline-wrapper{
		position: relative;
		height: 100%;
		overflow: hidden;
	}

	.timeline-event,
	.timeline-hint{
		left:50%;
	}

	.timeline-event {
		position: absolute;
		z-index: 100;
		display: block;
		top:110%;
		width: 11.5em;
		height: 11.5em;
		opacity:1;
		margin-left: -5.75em;
		font-weight: 500;
		border-radius: 50%;
		border: .25em solid;
		cursor: pointer;
		text-align: center;
		@include prefixProp("transition", "opacity 150ms, transform 150ms");
		@include prefixProp("touch-action", "none");

		&:hover,
		&.active{
			border-width: .3em;
			@include prefixProp("transform", "scale(1.8)");

			.date,
			.sublabel{
				opacity:1;
			}

			.alternator-bg {
				&:before,
				&:after {
					opacity: 1;
				}
			}

			.highlight {
				font-style: normal;
				font-weight: 900;
				width:100%;
				left:0;
			}

			.cta-container {
				opacity: 1;
			}
		}

		&.isSwiping{
			a{
				height:0 !important;
			}
		}

		.date,
		.sublabel{
			position: absolute;
			left: 0;
			right: 0;
			width: 90%;
			margin: 0 auto;
			opacity: 0;
			font-weight: 200;
			font-size: .75em;
			@include prefixProp("transition", "opacity 150ms");
		}

		.date {
			top: -1.7em;
		}

		.sublabel {
			top: 2.5em;
			font-style: italic;
		}

		.cta-container{
			opacity:0;
			@include prefixProp("transition", "opacity 150ms");

		}

		.cta{
			position:relative;
			top:2.65em;
			opacity:0;
			font-size:.8em;
			margin-left: -40px;
		}

		.event-content{
			left: 0;
			right: 0;
			font-weight: 900;
			position:absolute;
			top:50%;
			width:100%;
			margin-top: -8px;
		}

		.alternator-bg {
			&:before,
			&:after {
				border-bottom-width: 1.5em;
				top: .3em;
				opacity: 0;
				@include prefixProp("transition", "opacity 150ms");
			}

			&:after {
				border-top-width: 1.5em;
			}
		}
	}

	.timeline-hint {
		position: absolute;
		z-index: -1;
		opacity: 0;
		@include prefixProp("transition", "margin-top 250ms, opacity 250ms");
		@include prefixProp("transition-timing-function", "cubic-bezier(0.75, 0.2, 0.1, 0.9)");

		&.active {
			opacity: 1;
			z-index:1;
		}

		h2{
			width: 75%;
			text-align: center;
			margin: 0 auto .25em auto;
			font-size: 2em;
			font-weight: 500;
		}

		p{
			float: right;
			margin: 0;
			font-size: 1.25em;
			width: 70%;
		}

		i {
			float: left;
			width: 30%;
			margin-top: .15em;
			text-align:center;
			vertical-align:middle;
			font-size: 3em;
			position:relative;
		}

		.directions{
			width: 65%;
			border: 1px solid;
			padding: 1em .25em;
			margin: 1em auto 0 auto;

			p{
				text-align:left;
			}
		}
	}

	.counter{
		position:absolute;
		right:-300px;
		top:3em;
		padding:.5em;
		margin-left:1em;
		font-weight:200;
		z-index:101;
		@include prefixProp("transition", "right 750ms");
		@include prefixProp("transition-timing-function", "ease-out");

		&.active{
			right:0;
		}

		ul {
			width: 0;
			position: absolute;
			right: 0;
			z-index: -1;
			padding: 0;
			margin: -.25em 2em 0 0;
			list-style-type: none;
			border-right: 3px solid;

			li {
				display: block;
				float: right;
				clear: both;
				margin-right: -22px;
				cursor:pointer;

				&:hover {
					.dot {
						border-width: 6px;
					}
				}

				&:last-child{
					.dot-container {
						padding-bottom: 0;
					}
				}

				.dot-container{
					display:block;
					padding:10px;

					&.active {
						.dot {
							border-width: 3px;
						}
					}
				}

				.dot {
					display: block;
					width: 21px;
					height: 21px;
					border-radius: 50%;
					border: 8px solid;
					@include prefixProp("transition", "border-width 250ms");
				}
			}
		}

		.wrapper{
			min-width: 200px;
			font-size:2em;
		}

		.year{
			font-size:2em;
		}

		.alternator-bg{
			top: .5em;
			z-index:-1;
			opacity:1;
		}
	}
}

/*
@media screen and(min-width: $screen-sm-min) {
}

@media screen and(min-width: $screen-md-min) {
}

@media screen and(min-width: $screen-lg-min) {
}
*/

@media screen and(min-width: $screen-xl-min) {
	.timeline {
		.timeline-event,
		.timeline-hint{
			left:40%;
		}
	}
}