.timeline {
	.timeline-wrapper{
		&.pause{
			.timeline-event{
				@include prefixProp("transform", "translateY(-5em)");
				opacity:0;
				@include prefixProp("opacity 150ms, transform 150ms, transition", "z-index 150ms");
				z-index: -1;
			}
		}
	}

	.timeline-event {
		display: block;
		position: absolute;
		left: 50%;
		opacity:1;
		font-weight: 500;
		cursor: pointer;
		width: 11.5em;
		height: 11.5em;
		margin-left:-5.75em;
		border-radius: 50%;
		border: .25em solid;
		@include prefixProp("transition", "opacity 150ms, transform 150ms");
		text-align: center;
		z-index: 100;

		&:hover {
			border-width: .3em;
			@include prefixProp("transform", "scale(1.8)");

			.date,
			.sublabel {
				opacity:1;
			}

			.alternator-bg {
				&:before,
				&:after {
					opacity: 1;
				}
			}

			.highlight {
				font-style: normal;
				font-weight: 900;
			}
		}

		.date,
		.sublabel{
			position: absolute;
			opacity:0;
			@include prefixProp("transition", "opacity, 150ms");
			font-weight: 200;
			font-size: .75em;
			left: 0;
			right: 0;
		}

		.date {
			top: -1.7em;
		}

		.sublabel {
			top: 2.5em;
			font-style: italic;
		}

		a {
			font-weight: 900;
			position: absolute;
			top: 50%;
			margin-top: -8px;
			left: 0;
			right: 0;
		}

		.alternator-bg {
			&:before,
			&:after {
				border-bottom-width: 1.5em;
				top: .3em;
				opacity: 0;
				@include prefixProp("transition", "opacity 150ms");
			}

			&:after {
				border-top-width: 1.5em;
			}
		}
	}
}

/*
@media screen and(min-width: $screen-sm-min) {
}

@media screen and(min-width: $screen-md-min) {
}

@media screen and(min-width: $screen-lg-min) {
}
*/

@media screen and(min-width: $screen-xl-min) {
	.timeline {
		.timeline-event{
			left:40%;
		}
	}
}