<div class="summary-group content-background" ng-repeat="group in summaryGroups">
	<h2>{{group.title}}</h2>
	<div class="summary-item"
	     ng-repeat="skill in group.skills"
	     ng-class="{'tooltip-active': tooltipActive}"
	     data-lm-summary-group-tooltip>
		<h3>{{skill.name}} - <span class="rating">{{skill.rating}}/10</span></h3>
		<div class="rating-visual" data-rating="{{skill.rating}}" data-lm-visualization-rating>
			<span class="fill-bar content-background"></span>
		</div>
		<p class="description">{{skill.description}}</p>
	</div>
</div>

<!--ng-class="skill.tooltipActive ? 'tooltip-active' : 'tooltip-inactive'"-->