<nav class="main-nav" ng-controller="NavigationController">
	<div data-lm-touchend="deactivate($event)">
		<div class="emblem-wrapper">
			<figure ng-include data-src="'partial/svg/emblem.html'" class="emblem"></figure>
		</div>
		<ul class="link-list">
			<li ui-sref-active="active"
			    ng-repeat="item in navItems"
			    data-mobile-hover="{{item.isHovered ? 'true' : 'false'}}"
			    class="{{item.className}}">
				<a ui-sref="{{item.sref}}">
					<span class="alternator-bg"></span>
					<div class="alternator">
						<span class="highlight">{{item.text}}</span>
						<span>{{item.text}}</span>
					</div>
				</a>
			</li>
		</ul>
	</div>
</nav>