<nav class="main-nav" ng-class="{active: currentState.active === true}" ng-controller="NavigationController">
	<div class="emblem-wrapper">
		<span class="emblem">
			<i class="lmIcon lmIcon-emblem"></i>
		</span>
	</div>
	<ul class="link-list">
		<li ng-repeat="item in navItems"
		    class="{{item.className}}" ng-click="toggleNavigation()">
			<a data-lm-sref="{{item.sref}}"
			   class="alternator"
			   data-ng-class="{'active': (!state.transitioning && state.next.name === item.sref)
			   || (state.transitioning && state.next.name === item.sref)
			   || parseRootStateName() === parseRootStateName(item.sref)}">
				<span class="alternator-bg"></span>
				<div class="alternator-content">
					<span class="highlight">{{item.text}}</span>
					<span class="content">{{item.text}}</span>
				</div>
			</a>
		</li>
		<li>
			<a href="./asset/pdf/resume-layton-miller.pdf" class="alternator" target="_blank">
				<span class="alternator-bg"></span>
				<div class="alternator-content">
					<span class="highlight">Resumé</span>
					<span class="content">Resumé</span>
				</div>
			</a>
		</li>
	</ul>
	<div ng-include data-src="'partial/element/language-selector.html'"></div>
</nav>
<div class="nav-toggle"><span class="lmIcon lmIcon-hamburger"></span></div>
