<nav class="main-nav" ng-class="{active: currentState.active === true}" ng-controller="NavigationController">
	<div class="emblem-wrapper">
		<span class="emblem">
			<i class="lmIcon lmIcon-emblem"></i>
		</span>
	</div>
	<ul class="link-list">
		<li ng-repeat="item in navItems"
		    class="{{item.className}}" ng-click="toggleNavigation()">
			<a data-lm-sref="{{item.sref}}"
			   class="alternator"
			   data-ng-class="{'active': (!state.transitioning && state.next.name === item.sref)
			   || (state.transitioning && state.next.name === item.sref)
			   || parseRootStateName() === parseRootStateName(item.sref)}">
				<span class="alternator-bg"></span>
				<div class="alternator-content">
					<span class="highlight">{{item.text}}</span>
					<span class="content">{{item.text}}</span>
				</div>
			</a>
		</li>
	</ul>
	<div data-lm-language-selector>
		<div class="language-selector-trigger">
			<div class="alternator" ng-click="showLanguageSelector()">
				<span class="alternator-bg"></span>
				<div class="alternator-content">
				<span class="highlight">
					<i class="lmIcon lmIcon-flag"></i>
					Select Language
				</span>
				<span class="content">
					<i class="lmIcon lmIcon-flag"></i>
					Select Language
				</span>
				</div>
			</div>

			<div class="language-selector"
			     ng-class="{active: languageSelectorState.active}"
			     ng-click="hideLanguageSelector($event)"
			     data-hide-lm-language-selector>
				<div class="circle-wrapper">
					<div class="vcenter">
						<i class="lmIcon lmIcon-flag"></i>
						<h3>Select Language</h3>
						<form name="language-selector">
							<label>
								<select name="language" ng-model="state.language" ng-change="languageChangeHandler(state.language)">
									<option ng-repeat="language in languages" value="{{language.key}}" ng-selected="language.key === state.language">
										{{language.value}}
									</option>
								</select>
							</label>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>
<div class="nav-toggle"><span class="lmIcon lmIcon-hamburger"></span></div>
