<div class="timeline" data-lm-timeline>
	<div class="counter alternator">
		<div class="wrapper">
			<span class="alternator-bg"></span>
			<span class="month">{{eventMonth}}</span>_<span class="year">{{eventYear}}</span>
		</div>
	</div>

	<div class="timeline-wrapper" ng-class="{pause: currentState.pause}">
		<div ng-repeat="event in timeline.events">
			<div class="timeline-event alternator event-type-{{event.type}}"
			     data-lm-drag="dragHandler(pointerData, $event)"
				 ng-class="{active: eventTouchActive==$index, isSwiping: isSwiping }">
				<a data-lm-sref='{{event.type.toLowerCase() + ".event"}}({"event":"{{event.stringId.toLowerCase()}}"})'></a>
				<div class="event-content">
					<span class="alternator-bg"></span>

					<div class="date">{{event.dateString}}</div>
					<div class="alternator-content label">
						<span class="highlight">{{event.label}}</span>
						<span class="content">{{event.label}}</span>
					</div>
					<div class="sublabel">{{event.sublabel}}</div>
					<div class="cta-container">
						<i class="cta lmIcon lmIcon-chevrons-right"></i>
					</div>
				</div>
			</div>
		</div>

		<div class="ui-helper">
			<i class="lmIcon lmIcon-double-arrow-up-down"></i>
		</div>
	</div>
</div>